<phpunit bootstrap="./tests/bootstrap.php"
         verbose="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">

    <testsuites>
        <testsuite name="pregunta">
            <directory>./tests/pregunta</directory>
        </testsuite>
    </testsuites>
</phpunit>