main {
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 15px;
    gap: 15px;
}

.main__contenido {
    height: 100%;   
    width: 75%;
    min-width: 700px;
    max-width: 1000px;
    border-radius: 10px;
    background-color: transparent;
}

.main__contenido__header {
    margin-bottom: 15px;
}

.main__contenido__header a {
    display: inline-block;
    min-width: 200px;
    max-width: 30%;

    height: 3rem;

    border: none;
    background-color: var(--color_light_gray);
    border-radius: 10px;
    padding: 5px;

    text-align: center;
    color: black;
    font-size: 1rem;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.main__contenido__q-list {
    overflow-y: scroll;
    height: calc(100% - 3rem - 15px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;  
}

.main__contenido__q-list::-webkit-scrollbar {
    display: block;
    width: 3px;
}
.main__contenido__q-list::-webkit-scrollbar-track {
    background: none;
}

.main__contenido__q-list::-webkit-scrollbar-thumb {
    display: block;
    border-radius: 10px;
    background: var(--color_gray);
}