@import url('https://fonts.googleapis.com/css2?family=Itim&family=Sigmar+One&display=swap');
body {
    height: 100vh;
    font-family: 'Itim';
    margin: 0 auto;
}

.login-container {
    height: 100%;
    width: 100%;
    display: flex;
}

.image-container {
    padding-top: 5rem;
    width: 50%;
    align-items: center;
    text-align: center;
    background-color: #C9DAEC;
    box-sizing: border-box;
}

.image-container>p {
    font-size: 1.5em;
    margin: 3em;
}

.login-info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 7rem;
    background-color: white;
    font-family: 'Sigmar One';
}

.title {
    text-transform: capitalize;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #177DE8;
}

.login-info-container>p {
    font-size: 1.25em;
    margin-top: 1.5em;
}

.inputs-container {
    height: 80%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input,
.btn {
    margin-bottom: 4px;
    border-radius: 5px;
    width: 90%;
    height: 4rem;
    border: none;
    font-size: 1em;
    font-family: 'Itim';
    letter-spacing: 1px;
}

.input {
    padding-left: 20px;
    font-weight: 600;
    box-sizing: border-box;
    background-color: #ECECEC;
}

.btn {
    text-transform: uppercase;
    color: white;
    background-color: #177DE8;
    cursor: pointer;
}

.a {
    font-family: 'Sigmar One';
    color: #177DE8;
    font-weight: 400;
    cursor: pointer;
}