main {
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 15px;
    gap: 15px;
}

.main__pregunta__contenido {
    height: 100%;   
    width: 75%;
    min-width: 700px;
    max-width: 1000px;
    border-radius: 10px;
    background-color: transparent;
}

.main__pregunta__contenido h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
}

.main__pregunta__contenido p,
.main__pregunta__info p {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 22px;
}

.main__pregunta__info {
    border-radius: 10px;
    width: inherit;
    background-color: var(--color_principal);
    max-width: 270px;  
    padding: 15px 15px 30px 15px; 
}

.main__pregunta__info__actions {
    display: flex;
    align-items: center;
}

.main__pregunta__info__actions div {
    display: flex;
    margin-left: auto;
}

.main__pregunta__info__actions a,
.main__pregunta__info__actions button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
}

.main__pregunta__info__actions a:hover,
.main__pregunta__info__actions button:hover {
    background-color: var(--color_gray);
}

.main__pregunta__info__content__dato {
    margin-top: 5px;
    margin-bottom: 5px;
}
.main__pregunta__info__content__dato > p,
.main__pregunta__info__actions > p 
{
    font-weight: 500;
}

.main_pregunta-icon {
    height: 20px;
    width: 20px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
}

.main__pregunta__info__content__dato > p ~ p {
    font-weight: 400;
}

.button-blue {
    display: block;
    text-align: center;
    width: 80%;
    padding: 20px;
    background-color: var(--color_enfasis);
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    margin-left: 10%;
    margin-top: 100px;
    align-items: center;
    font-size: 1rem;
}

main a {
    text-decoration: none;
}

