@import url('https://fonts.googleapis.com/css2?family=Itim&family=Sigmar+One&display=swap');
body {
    height: 100vh;
    font-family: 'Itim';
    background-color: #EAF6F6;
    margin: 0 auto;
}

.login-container {
    height: 43.75em;
    width: 60em;
    margin: 0.5em auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: white;
}

.image-container {
    padding: 2rem;
    width: 50%;
    background-color: var(--image-bg);
    box-sizing: border-box;
}

.title {
    text-transform: capitalize;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #177DE8;
    font-family: 'Sigmar One';
    text-align: center;
}

.login-info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    font-family: 'Sigmar One';
}

.inputs-container {
    height: 90%;
    width: 95%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.inputs-container>label {
    display: block;
    width: 90%;
    height: 6%;
    text-align: left;
}

.input,
.btn {
    margin-bottom: 4px;
    border-radius: 5px;
    width: 90%;
    height: 4rem;
    border: none;
    font-size: 1em;
    font-family: 'Itim', monospace;
    letter-spacing: 1px;
}

.input {
    padding-left: 20px;
    font-weight: 600;
    box-sizing: border-box;
    background-color: #ECECEC;
}

.btn {
    text-transform: uppercase;
    color: white;
    background-color: #177DE8;
    cursor: pointer;
}

.login-info-container>p {
    font-size: 1.25em;
    margin-top: 1.5em;
    text-align: center;
    align-items: center;
}

.a {
    color: #177DE8;
    font-weight: 400;
    cursor: pointer;
    align-items: center;
    text-align: center;
}